extends ../layouts/mainLayout.pug

block styles
  link(rel="stylesheet", href="../../css/add-product.css")

block content
  .login-block
    if errorMessage
      .err-message
        p #{errorMessage}

    form.product-form(action=("/login") method="POST")
      .form-control
        label(for="email") Email 
        input(type="email" name="email" id="email") 

        label(for="password") Password
        input(type="password" name="password" id="password") 

        input(type="hidden" name="_csrf" value=csrfToken)

      button.submit-button(type="submit") Login