body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h2 {
  color: black;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  height: 56px;
  background-color: #0d4d11;
  padding: 0 25px;
  display: flex;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0;
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: beige;
  font-weight: bold;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item a.active {
  color: #81f069;
}

.order-item {
  min-width: 1000px;
  padding: 30px;
  margin: 10px 15px 40px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.order-item h1 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.order-item h2 {
  padding: 15px 0;
  margin: 0;
  font-size: 22px;
  color: #1a6856;
}

.order-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item .prod-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid #407e45;
}

.order-item .prod-item p {
  padding: 0;
  margin: 0;
}

.order-item .total-price {
  margin-top: 15px;
  align-self: center;
}

.login-block {
  padding-top: 150px;
}

.logout-button {
  font: inherit;
  font-size: 30px;
  color: white;
  border: 2px solid #426d40;
  background-color: #194b14;
  border-radius: 5px;
  padding: 15px 35px;
  cursor: pointer;
}

.logout-button:hover,
.logout-button:active {
  background-color: #5c8564;
}
