.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 25px;
  font-weight: bold;
  color: #407e45;
  margin: 0;
}

.card-image {
  margin: 20px -20px;
}

.card-image img {
  width: 100%;
  height: 300px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.product-description {
  font-size: 18px;
}

.card-actions {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
}

.action-link {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
}

.card-actions form,
.product-info form {
  margin: 0;
  padding: 0;
  margin: 0 10px;
}

.action-btn,
.action-link {
  width: 120px;
  padding: 7px 0;
  border: 1px solid #407e45;
  color: #407e45;
  background-color: #ffffff;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.action-btn:hover,
.action-link:hover {
  background-color: #407e45;
  color: #ffffff;
}

.product-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 1000px;
}

.product-info h1 {
  font-size: 45px;
  font-weight: bold;
}

.product-info .price {
  font-size: 30px;
}

.product-info img {
  width: 500px;
  height: 400px;
}

.product-info .description {
  font-size: 25px;
  margin-bottom: 50px;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item p {
  margin: 25px 20px;
}
