extends ../layouts/mainLayout.pug

block styles
  link(rel="stylesheet", href="css/product.css")

block content
  if products.length > 0 
    ul.cart-items
      each prod in products 
        li.cart-item 
          p #{prod.title}
          p #{"Quantity: " + prod.quantity}
          form(action=("/cart-delete-item") method="POST")
            input(type="hidden" name="productId" value=prod._id)
            button.action-btn(type="submit") DELETE
    form(action="/create-order" method="POST")
      button.action-btn(type="submit") ORDER

  else   
    h1 There are no products in Cart!
