extends ../layouts/mainLayout.pug

block styles
  link(rel="stylesheet", href="css/product.css")

block content
  .grid
    if products.length > 0 
      each prod in products
        article.card.product-item
          .content
            header.card-header
              h1.product-title #{prod.title}
            .card-image
              img(src=prod.imageUrl alt="Book")
            .card-content
              h2.product-price #{'$' + (prod.price || 0)} 
              p.product-description #{prod.description || 'No description'}
          .card-actions
            a.action-link(href=("/admin/edit-product/" + prod.id + "?edit=true")) Edit
            form(action="/admin/delete-product" method="POST")
              button.action-btn(type="submit") Delete
    else 
      h1 There are no products